.reservation {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 10px silver;
  font-size: 1.2rem;
  color: darkred;
  max-width: max-content;
  display: inline-block;
  background-size: cover;
  margin: 15px;
}

.label {
  font-size: 1.5em;
  margin: 13px;
  text-transform: capitalize;
  line-height: 1.5em;
  color: #ffde59;
  text-shadow: black 2px 2px 2px;
}

.container {
  border-radius: 5px;
  padding: 5px;
  background-color: silver;
  color: black;
  font-weight: bolder;
  opacity: 0.9;
}

.container button {
  padding: 5px;
  color: white;
  background-color: #e11010;
}
