.room {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roomPicture {
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.roomDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 12px 0;
}

.roomName1 {
  display: none;
}

.roomName2 {
  font-size: 28px;
  margin-bottom: 12px;
  text-align: center;
}

.roomGuests {
  font-size: 16px;
  padding: 12px;
}

.roomDescription {
  font-size: 14px;
  padding: 2%;
  padding: 12px;
  background-color: #cececc;
}

.roomPrice {
  font-size: 24px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #ffde59;
}

.roomPrice span {
  width: fit-content;
  margin: 2% 0;
}

.roomStars {
  margin: 2% 0;
  width: 100%;
  background-color: #cececc;
  padding: 12px 0;
  border: 4px dashed #ffde59;
  border-radius: 4px;
}

.stars {
  display: flex;
  justify-content: center;
}

.roomButton {
  margin-top: 10%;
  margin-bottom: 24px;
  width: 100%;
}

.reserveBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #91bd04;
  padding: 12px;
  border: 4px #737372;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  cursor: pointer;
}

.iconBtn {
  width: fit-content;
}

@media only screen and (min-width: 769px) {
  .room {
    height: 84vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .roomPicture {
    width: 70%;
  }

  .roomName1 {
    display: block;
    font-size: 30px;
    border-bottom: 6px dashed #ffde59;
    padding-bottom: 8px;
    text-align: left;
  }

  .roomName2 {
    display: none;
  }

  .roomDetails {
    height: 60%;
    width: 25%;
    justify-content: space-around;
  }

  .roomPrice {
    font-size: calc(10px + 6 * ((100vw - 100px) / 680));
    margin-top: 12px;
  }

  .reserveBtn {
    font-size: calc(8px + 6 * ((100vw - 100px) / 680));
  }

  .roomDescription {
    font-size: calc(8px + 6 * ((100vw - 100px) / 680));
  }

  .roomGuests {
    font-size: calc(8px + 6 * ((100vw - 100px) / 680));
  }

  .roomStars {
    padding: 24px 0;
  }
}
