.splash-page {
  z-index: 0;
  background-color: #ffde59;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.welcome {
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  text-shadow: 4px 3px 5px #737372;
}

.mainLogo {
  width: 270px;
}

.loginInput {
  width: 80vw;
  height: 36px;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  background-color: #ffde59;
  margin-bottom: 3%;
  padding: 12px;
  border: 4px #737372;
  border-style: dashed;
  border-radius: 16px;
}

.loginInput:focus {
  background: #d0b447;
}

.register-link {
  text-decoration: none;
  width: 30vw;
  padding: 12px;
  color: #fff;
  background-color: #91bd04;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

.register-link:active {
  background-color: #6f9004;
}

.login-form {
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginBtn {
  width: 80vw;
  padding: 12px;
  color: #fff;
  background-color: #91bd04;
  border: 4px #737372;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  cursor: pointer;
}

.loginBtn:active {
  background-color: #6f9004;
}

.title-splash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto 3vh auto;
}

.footer {
  display: none;
}

.signup-page {
  position: fixed;
  z-index: 10;
  border: 4px solid #737372;
  background-color: #fff;
  width: 70%;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.signupInput {
  width: 70%;
  height: 36px;
  color: #737372;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  background-color: #98c407;
  margin-bottom: 3%;
  padding: 12px;
  border: 4px #fff;
  border-style: dashed;
  border-radius: 16px;
}

.signupInput:focus {
  background: #b4e809;
}

.signupBtn {
  width: 70%;
  padding: 12px;
  color: #737372;
  background-color: #ffde59;
  border: 4px #737372;
  border-radius: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  cursor: pointer;
}

.signupBtn:active {
  background-color: #c29f12;
}

.signup {
  width: 100%;
  font-size: 26px;
  color: #737372;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 4px;
  border-bottom: 4px solid #ffde59;
}

.signupTitle {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.crossBtn {
  position: relative;
  top: -12px;
  left: 5vw;
  color: #737372;
  width: 40%;
  padding: 12px;
}

@media only screen and (min-width: 769px) {
  .login-form {
    width: 80%;
  }

  .register-link {
    min-width: 130px;
    width: 10%;
    font-size: 24px;
  }

  .loginBtn {
    width: 20vw;
    font-size: 30px;
  }

  .loginInput {
    width: 45vw;
  }

  .title-splash {
    width: 48vw;
  }

  .welcome {
    text-align: left;
  }

  .mainLogo {
    width: 350px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 110px;
    background-color: #737372;
    color: #fff;
    display: flex;
    list-style-type: none;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
  }

  .ulProfile {
    list-style-type: none;
    display: flex;
  }

  .profile {
    text-decoration: none;
    color: #fff;
  }
}
