.splash-page {
  background-color: #ffde59;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.welcome {
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  text-shadow: 4px 3px 5px #737372;
}

.mainLogo {
  width: 270px;
}

.loginInput {
  width: 80vw;
  height: 36px;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  background-color: #ffde59;
  margin-bottom: 3%;
  padding: 12px;
  border: 4px #737372;
  border-style: dashed;
  border-radius: 16px;
}

.loginInput:focus {
  background: #d0b447;
}

.register-link {
  text-decoration: none;
  width: 30vw;
  padding: 12px;
  color: #fff;
  background-color: #91bd04;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

.register-link:active {
  background-color: #6f9004;
}

.login-form {
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginBtn {
  width: 80vw;
  padding: 12px;
  color: #fff;
  background-color: #91bd04;
  border: 4px #737372;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  cursor: pointer;
}

.loginBtn:active {
  background-color: #6f9004;
}

.title-splash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto 3vh auto;
}

@media only screen and (min-width: 769px) {
  .login-form {
    width: 80%;
  }

  .register-link {
    min-width: 130px;
    width: 10%;
    font-size: 24px;
  }

  .loginBtn {
    width: 20vw;
    font-size: 30px;
  }

  .loginInput {
    width: 45vw;
  }

  .title-splash {
    width: 48vw;
  }

  .welcome {
    text-align: left;
  }

  .mainLogo {
    width: 350px;
  }
}
