@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 999;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin: 2.5rem 0 2.5rem 5rem;
  padding: 0.5rem 1rem;
}

.nav-link {
  text-decoration: none;
  color: #101010;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

.logoutBtn{
  font-size: 1.6rem;
  font-weight: bolder;
  padding: 0.5rem;
  margin-top: 4rem;
  margin-left: 4rem;
  background-color: #91bd04;
  color: #fff;
  border: none;
  border-radius: 15px;
  height: max-content;
  width: 50%;
  justify-self: center;
  align-self: center;
}

.logoutBtn:hover{
  box-shadow: #91bd04 2px 2px 10px;
}

.nav-link:hover {
  background-color: #91bd04;
  color: #fff;
  height: max-content;
}

.nav-item:hover {
  background-color: #91bd04;
  color: #fff;
  height: max-content;
}

.nav-logo {
  width: 120px;
  margin: 3rem 0 15rem 0;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 999;
  }

  .nav-logo {
    width: 80px;
    margin: 0;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    align-self: center;
    padding: 3rem 0 20rem 0;
  }

  .nav-menu.active {
    top: 4.5rem;
    left: 0;
  }

  .nav-link:hover {
    background-color: #91bd04;
    color: #fff;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .logoutBtn{
    font-size: 1.6rem;
    font-weight: bolder;
    padding: 0.5rem;
    margin-top: 4rem;
    margin-left: 9rem;
    background-color: #91bd04;
    color: #fff;
    border: none;
    border-radius: 15px;
    height: max-content;
    width: 50%;
    justify-self: center;
    align-self: center;
  }
  
  .logoutBtn:hover{
    box-shadow: #91bd04 2px 2px 10px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 50px;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
