* {
  margin: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .main-container {
    position: relative;
    left: 20rem;
    width: calc(100% - 25rem);
    height: 100%;
    background-color: #f5f5f5;
    padding: 3rem;
  }
}
